{% extends "monitor/base/base.html" %}
{% load static %}

{% block header %}
{% include 'monitor/base/header.html' %}
{% endblock %}

{% block side_menu %}
{% include 'monitor/base/side-menu-app.html' %}
{% endblock %}

{% block content %}
{% include 'monitor/profiles/components/profiles-list.html' with component='profiles-list' add_enabled=True %}
{% endblock %}


{% block extra_js %}
<script>

/* Add profile */

function addProfile() {
    window.location.assign("{% url 'add_profile' app.app_id %}")
}

/* Deleting a profile */

function deleteProfile(profile_id) {
    const deleteIcon = document.getElementById('delete_profile_icon_' + profile_id)
    const deleteButton = document.getElementById('delete_profile_' + profile_id)
    const cancelButton = document.getElementById('cancel_delete_profile_' + profile_id)
    deleteIcon.classList.add('d-none')
    deleteButton.classList.remove('d-none')
    cancelButton.classList.remove('d-none')
}

function confirmDeleteProfile(profile_id) {
    
    const deleteIcon = document.getElementById('delete_profile_icon_' + profile_id)
    const deleteButton = document.getElementById('delete_profile_' + profile_id)
    const cancelButton = document.getElementById('cancel_delete_profile_' + profile_id)
    const profileItem = document.getElementById('profile_' + profile_id)
    const deleteLoader = document.getElementById('delete_profile_loader_' + profile_id)
    deleteIcon.classList.add('d-none')
    deleteButton.classList.add('d-none')
    cancelButton.classList.add('d-none')
    deleteLoader.classList.remove('d-none')

    const url = "{% url 'ajax_remove_profile' app.app_id %}";
    const formData = {
        'profile_id': profile_id,
        'redirect': false,
    };
    fetch(url, {
        method: 'POST',
        headers: {
            "X-Requested-With": "XMLHttpRequest",
            "X-CSRFToken": getCookie('csrftoken'),
        },
        body: JSON.stringify(formData)
    })
    .then(response => response.json())
    .then(data => {
        profileItem.remove()
    })
    .catch(error => {
        console.error(error);
        addLoader.classList.add('d-none');
    });

}

function cancelDeleteProfile(profile_id) {
    const deleteIcon = document.getElementById('delete_profile_icon_' + profile_id)
    const deleteButton = document.getElementById('delete_profile_' + profile_id)
    const cancelButton = document.getElementById('cancel_delete_profile_' + profile_id)
    deleteIcon.classList.remove('d-none')
    deleteButton.classList.add('d-none')
    cancelButton.classList.add('d-none')
}

document.addEventListener("DOMContentLoaded", function() {

    let profilesListComponent = new ListComponent('profiles-list', 'list', "{% url 'ajax_get_profiles' app.app_id %}");

    const queryParams = new URLSearchParams(window.location.search);
    if (queryParams.has('page')) {
        profilesListComponent.setPage(queryParams.get('page'))
    } else {
        profilesListComponent.setPage(1)
    }
    if (queryParams.has('page_size')) {
        profilesListComponent.setPage(queryParams.get('page_size'))
    } else {
        profilesListComponent.setPageSize(25)
    }

    profilesListComponent.initialLoad();

});

</script>
{% endblock %}