{% extends "monitor/base/base.html" %}
{% load static %}

{% block header %}
{% include 'monitor/base/header.html' %}
{% endblock %}

{% block side_menu %}
{% include 'monitor/base/side-menu-app.html' %}
{% endblock %}

{% block content %}
{% include 'monitor/profiles/components/form.html' %}
{% endblock %}

{% block extra_js %}
<script>

    const profileFormLoader = document.getElementById('profile-form-loader')
    const profileFormHolder = document.getElementById('profile-form-holder')
    
    /* Initial loading */

    function getProfileItem() {
        const url = "{% url 'ajax_get_profile_item' app.app_id %}?profile_id={{profile.profile_id}}";
        fetch(url, {
            method: 'GET',
            headers: {
                "X-Requested-With": "XMLHttpRequest",
                "X-CSRFToken": getCookie('csrftoken'),
            },
        })
        .then(response => response.json())
        .then(data => {

            nameInput.value = data['name']
            profileFormHolder.classList.remove('d-none')
            profileFormLoader.classList.add('d-none')

        })
        .catch(error => {
            console.error(error);
        });
    }

    document.addEventListener("DOMContentLoaded", function() {
        profileFormHolder.classList.add('d-none')
        profileFormLoader.classList.remove('d-none')
        getProfileItem()
    })

    const formLoader = document.getElementById('form-loader')
    const saveBtn = document.getElementById('save-btn');

    saveBtn.addEventListener('click', () => {
        event.preventDefault();
        updateProfile()
    });

    function updateProfile() {

        let data = getProfileFormValues()
        
        if (data['valid']) {

            data['values']['profile_id'] = '{{ profile.profile_id }}'
        
            saveBtn.classList.add('d-none');
            formLoader.classList.remove('d-none');

            const url = "{% url 'ajax_update_profile' app.app_id %}";
            const formData = data['values'];
            fetch(url, {
                method: 'POST',
                headers: {
                    "X-Requested-With": "XMLHttpRequest",
                    "X-CSRFToken": getCookie('csrftoken'),
                },
                body: JSON.stringify(formData)
            })
            .then(response => response.json())
            .then(data => {
                
                formLoader.classList.add('d-none');
                window.location.assign(data['redirect'])
            })
            .catch(error => {
                console.error(error);
                formLoader.classList.add('d-none');
            });
        }
    }

</script>
{% endblock %}