{% extends "monitor/base/base.html" %}
{% load static %}

{% block header %}
{% include 'monitor/base/header.html' %}
{% endblock %}

{% block side_menu %}
{% include 'monitor/base/side-menu-app.html' %}
{% endblock %}

{% block content %}
<div class="row mt-3">
    <div class="col-12">
        <a href="{% url 'update_app_user' app.app_id app_user.app_user_id %}" class="float-end">Edit app user</a>
    </div>
</div>
<div class="row mt-3">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col-12">
                        {% if app_user.user %}
                        <p class="m-0 p-0">
                            <span class="fw-400 text-dark">{{app_user.user.display_name}}</span> ({{app_user.get_role_display}}) 
                        </p>
                        {{app_user.user.email}}
                        {% else %}
                        <p class="m-0 p-0">
                            <span class="fw-400 text-dark">{{app_user.email}}</span> ({{app_user.get_role_display}}) 
                        </p>
                        (Pending sign up)
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row mt-3">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col">
                        <div class="text-dark pe-2" id="controls_{{app_user.app_user_id}}">
                            <a href="javascript:void(0);" class="text-dark px-1 d-flex align-items-center justify-content-center" id="delete_app_user_icon_{{app_user.app_user_id}}">
                                <svg onclick="deleteAppUser('{{app_user.app_user_id}}')" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-trash-2"><polyline points="3 6 5 6 21 6"></polyline><path d="M19 6v14a2 2 0 0 1-2 2H7a2 2 0 0 1-2-2V6m3 0V4a2 2 0 0 1 2-2h4a2 2 0 0 1 2 2v2"></path><line x1="10" y1="11" x2="10" y2="17"></line><line x1="14" y1="11" x2="14" y2="17"></line></svg>
                            </a>
                            <button onclick="cancelDeleteAppUser('{{app_user.app_user_id}}')" class="btn btn-link text-muted d-none" id="cancel_delete_app_user_{{app_user.app_user_id}}">Cancel</button>
                            <button onclick="confirmDeleteAppUser('{{app_user.app_user_id}}')" class="btn btn-danger btn-sm d-none" id="delete_app_user_{{app_user.app_user_id}}">Confirm archive</button>
                        </div>
                        <div id="app_user_delete_loader_{{app_user.app_user_id}}" class="d-none">
                            {% include 'monitor/base/loader-inline.html' %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block extra_js %}
<script>

    function deleteAppUser(app_user_id) {
        const deleteIcon = document.getElementById('delete_app_user_icon_' + app_user_id)
        const deleteButton = document.getElementById('delete_app_user_' + app_user_id)
        const cancelButton = document.getElementById('cancel_delete_app_user_' + app_user_id)
        deleteIcon.classList.add('d-none')
        deleteButton.classList.remove('d-none')
        cancelButton.classList.remove('d-none')
    }

    function confirmDeleteAppUser(app_user_id) {
        
        const deleteIcon = document.getElementById('delete_app_user_icon_' + app_user_id)
        const deleteButton = document.getElementById('delete_app_user_' + app_user_id)
        const cancelButton = document.getElementById('cancel_delete_app_user_' + app_user_id)
        const app_userItem = document.getElementById('app_user_config_' + app_user_id)
        const deleteLoader = document.getElementById('app_user_delete_loader_' + app_user_id)
        deleteIcon.classList.add('d-none')
        deleteButton.classList.add('d-none')
        cancelButton.classList.add('d-none')
        deleteLoader.classList.remove('d-none')

        const url = "{% url 'ajax_remove_app_user' app.app_id %}";
        const formData = {
            'app_user_id': app_user_id,
        };
        fetch(url, {
            method: 'POST',
            headers: {
                "X-Requested-With": "XMLHttpRequest",
                "X-CSRFToken": getCookie('csrftoken'),
            },
            body: JSON.stringify(formData)
        })
        .then(response => response.json())
        .then(data => {
            if (data['redirect']) {
                window.location.assign(data['redirect'])
            }
        })
        .catch(error => {
            console.error(error);
            deleteIcon.classList.remove('d-none')
            deleteButton.classList.remove('d-none')
            deleteLoader.classList.add('d-none');
        });

    }

    function cancelDeleteAppUser(app_user_id) {
        const deleteIcon = document.getElementById('delete_app_user_icon_' + app_user_id)
        const deleteButton = document.getElementById('delete_app_user_' + app_user_id)
        const cancelButton = document.getElementById('cancel_delete_app_user_' + app_user_id)
        deleteIcon.classList.remove('d-none')
        deleteButton.classList.add('d-none')
        cancelButton.classList.add('d-none')
    }

</script>
{% endblock %}