{% extends "monitor/base/full-screen-base.html" %}
{% load static %}

{% block header %}
{% include 'monitor/base/header.html' %}
{% endblock %}

{% block content %}
<section class="pb-5 pt-5">
  <div class="container pt-5">
  <div class="row justify-content-center" style="height: 100vh;">
    <div class="col-xl-5 col-lg-6 col-md-8 col-sm-11">
        <div class="card">
            <div class="card-body px-5">
                <div class="form-group pt-4 pb-3">
                  <p class="card-text">Enter your email below and we'll send you a password reset link.</p>
                  <form method="post" class="mt-3" action="{% url 'reset_password' %}">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <div class="d-grid">
                      <button class="btn btn-primary" type="submit">Reset Password</button>
                    </div>
                  </form>
                </div>
              </div>
          </div>
      </div>
    </div>
  </div>
</section>
{% endblock %}
