{% extends "monitor/base/base.html" %}
{% load static %}

{% block header %}
{% include 'monitor/base/header.html' %}
{% endblock %}

{% block side_menu %}
{% include 'monitor/base/side-menu-app-setup.html' %}
{% endblock %}

{% block content %}
{% include 'monitor/customers/components/form.html' %}
{% endblock %}

{% block extra_js %}
<script>

    const formLoader = document.getElementById('form-loader')
    const saveBtn = document.getElementById('save-btn');

    saveBtn.addEventListener('click', () => {
        event.preventDefault();
        saveCustomer()
    });

    function saveCustomer() {

        let data = getCustomerFormValues()
        
        if (data['valid']) {
        
            saveBtn.classList.add('d-none');
            formLoader.classList.remove('d-none');

            const url = "{% url 'ajax_add_customer' app.app_id %}";
            const formData = data['values'];
            fetch(url, {
                method: 'POST',
                headers: {
                    "X-Requested-With": "XMLHttpRequest",
                    "X-CSRFToken": getCookie('csrftoken'),
                },
                body: JSON.stringify(formData)
            })
            .then(response => response.json())
            .then(data => {
                
                formLoader.classList.add('d-none');
                window.location.assign(data['redirect'])
            })
            .catch(error => {
                console.error(error);
                formLoader.classList.add('d-none');
            });
        }
    } 

</script>
{% endblock %}