{% extends "monitor/base/base.html" %}
{% load static %}

{% block header %}
{% include 'monitor/base/header.html' %}
{% endblock %}

{% block side_menu %}
{% include 'monitor/base/side-menu-app-setup.html' %}
{% endblock %}

{% block content %}
{% include 'monitor/customers/components/customers-list.html' with component='customers-list' add_enabled=True %}
{% endblock %}


{% block extra_js %}
<script>

/* Add customer */

function addCustomer() {
    window.location.assign("{% url 'add_customer' app.app_id %}")
}

/* Deleting a customer */

function deleteCustomer(customer_id) {
    const deleteIcon = document.getElementById('delete_customer_icon_' + customer_id)
    const deleteButton = document.getElementById('delete_customer_' + customer_id)
    const cancelButton = document.getElementById('cancel_delete_customer_' + customer_id)
    deleteIcon.classList.add('d-none')
    deleteButton.classList.remove('d-none')
    cancelButton.classList.remove('d-none')
}

function confirmDeleteCustomer(customer_id) {
    
    const deleteIcon = document.getElementById('delete_customer_icon_' + customer_id)
    const deleteButton = document.getElementById('delete_customer_' + customer_id)
    const cancelButton = document.getElementById('cancel_delete_customer_' + customer_id)
    const customerItem = document.getElementById('customer_' + customer_id)
    const deleteLoader = document.getElementById('delete_customer_loader_' + customer_id)
    deleteIcon.classList.add('d-none')
    deleteButton.classList.add('d-none')
    cancelButton.classList.add('d-none')
    deleteLoader.classList.remove('d-none')

    const url = "{% url 'ajax_remove_customer' app.app_id %}";
    const formData = {
        'customer_id': customer_id,
        'redirect': false,
    };
    fetch(url, {
        method: 'POST',
        headers: {
            "X-Requested-With": "XMLHttpRequest",
            "X-CSRFToken": getCookie('csrftoken'),
        },
        body: JSON.stringify(formData)
    })
    .then(response => response.json())
    .then(data => {
        customerItem.remove()
    })
    .catch(error => {
        console.error(error);
        addLoader.classList.add('d-none');
    });

}

function cancelDeleteCustomer(customer_id) {
    const deleteIcon = document.getElementById('delete_customer_icon_' + customer_id)
    const deleteButton = document.getElementById('delete_customer_' + customer_id)
    const cancelButton = document.getElementById('cancel_delete_customer_' + customer_id)
    deleteIcon.classList.remove('d-none')
    deleteButton.classList.add('d-none')
    cancelButton.classList.add('d-none')
}

document.addEventListener("DOMContentLoaded", function() {

    let customersListComponent = new ListComponent('customers-list', 'list', "{% url 'ajax_get_customers' app.app_id %}");

    const queryParams = new URLSearchParams(window.location.search);
    if (queryParams.has('page')) {
        customersListComponent.setPage(queryParams.get('page'))
    } else {
        customersListComponent.setPage(1)
    }
    if (queryParams.has('page_size')) {
        customersListComponent.setPage(queryParams.get('page_size'))
    } else {
        customersListComponent.setPageSize(25)
    }

    customersListComponent.initialLoad();

});

</script>
{% endblock %}