{% extends "monitor/base/base.html" %}
{% load static %}

{% block header %}
{% include 'monitor/base/header.html' %}
{% endblock %}

{% block side_menu %}
{% include 'monitor/base/side-menu-app.html' %}
{% endblock %}

{% block content %}
{% include 'monitor/customers/components/form.html' %}
{% endblock %}

{% block extra_js %}
<script>

    const customerFormLoader = document.getElementById('customer-form-loader')
    const customerFormHolder = document.getElementById('customer-form-holder')
    
    /* Initial loading */

    function getCustomerItem() {
        const url = "{% url 'ajax_get_customer_item' app.app_id %}?customer_id={{customer.customer_id}}";
        fetch(url, {
            method: 'GET',
            headers: {
                "X-Requested-With": "XMLHttpRequest",
                "X-CSRFToken": getCookie('csrftoken'),
            },
        })
        .then(response => response.json())
        .then(data => {

            nameInput.value = data['name']
            customerFormHolder.classList.remove('d-none')
            customerFormLoader.classList.add('d-none')

        })
        .catch(error => {
            console.error(error);
        });
    }

    document.addEventListener("DOMContentLoaded", function() {
        customerFormHolder.classList.add('d-none')
        customerFormLoader.classList.remove('d-none')
        getCustomerItem()
    })

    const formLoader = document.getElementById('form-loader')
    const saveBtn = document.getElementById('save-btn');

    saveBtn.addEventListener('click', () => {
        event.preventDefault();
        updateCustomer()
    });

    function updateCustomer() {

        let data = getCustomerFormValues()
        
        if (data['valid']) {

            data['values']['customer_id'] = '{{ customer.customer_id }}'
        
            saveBtn.classList.add('d-none');
            formLoader.classList.remove('d-none');

            const url = "{% url 'ajax_update_customer' app.app_id %}";
            const formData = data['values'];
            fetch(url, {
                method: 'POST',
                headers: {
                    "X-Requested-With": "XMLHttpRequest",
                    "X-CSRFToken": getCookie('csrftoken'),
                },
                body: JSON.stringify(formData)
            })
            .then(response => response.json())
            .then(data => {
                
                formLoader.classList.add('d-none');
                window.location.assign(data['redirect'])
            })
            .catch(error => {
                console.error(error);
                formLoader.classList.add('d-none');
            });
        }
    }

</script>
{% endblock %}